<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="meU"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeU"
        tools:replace="android:appComponentFactory">
        <activity android:name=".MessageActivity"></activity>
        <activity android:name=".MainActivity3" />
        <activity android:name=".ConsultantChatView" />
        <activity android:name=".AddCons" />
        <activity android:name=".models.Consultant" />
        <activity android:name=".ConsultantReqOrLogin" />
        <activity android:name=".ChatWithCons" />
        <activity android:name=".ConsConfirm" />
        <activity android:name=".LoginConsultant" />
        <activity android:name=".LoadData" />
        <activity android:name=".LinkID" />
        <activity android:name=".AboutUs" />
        <activity android:name=".ProfileSetting" />
        <activity android:name=".ScheduleOrGoal" />
        <activity android:name=".ToDoList" />
        <activity android:name=".ChatWithAI" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".NavigationBar" />
        <activity android:name=".LogIn" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>