<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="meU"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeU"
        tools:replace="android:appComponentFactory">
        <activity android:name=".MessageActivity2"></activity>
        <activity android:name=".PickImageConsultant" />
        <activity android:name=".VideoPlayer" />
        <activity
            android:name=".Exercise"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Meditation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PickImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsultantChatView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCons"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsultantReqOrLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatWithCons"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsConfirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginConsultant"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinkID"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScheduleOrGoal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToDoList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatWithAI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>